ChatContainer {
    height: auto;
}

#messageContainer {
    overflow-y: auto;
    padding-bottom: 1;
    height: 100%;
}

ChatItem {
    height: auto;
}

ChatItem .chatItem {
    height: auto;
}

ChatItem .author {
    width: 8%;
    padding: 1;
    color: $foreground;
}

ChatItem .USER {
    background: $panel;
}

ChatItem .OLLAMA {
    background: $panel-lighten-1;
}

ChatItem .text{
    margin: 1;
    width: 90%;
}

#prompt {
    background: $panel;
    dock: bottom;
    padding: 1;
}

#prompt.singleline {
    height: 5;
}

#prompt.multiline #promptInput {
    display: none;
}


#prompt.singleline #promptArea {
    display: none;
}

#prompt.multiline {
    height: 10;
}

#prompt #promptInput #promptArea {
    dock: left;
}

#prompt #button-container {
    padding-left: 1;
    width: 24;
    dock: right;
}

#prompt #button-container #toggle-multiline {
    margin-left:1;
}

#info {
    color: $primary-lighten-1;
    text-align: right;
    padding-right: 5;
    text-style: italic;
}

LoadingIndicator {
    height: 3;
}

.sceen-container {
    width: auto;
    height: auto;
    background: $panel;
    border: $panel-lighten-2;
    margin-top: 2;
    margin-left: 2;
    padding: 1;
}

.full-height {
    margin: 1;
    padding: 1;
}

.short {
    height: 10;
}

.title{
    color: $primary;
    margin-right: 1;
    margin-bottom: 1;
}

.subtitle {
    color: $secondary
}

.screen-container .button-container {
    height: 3;
}

.screen-container .button-container Button {
    margin-right: 1;
}

#edit-chat-container {
    margin: 1;
    padding: 1;
}

#edit-chat-container .system , .parameters {
    margin: 1;
}

#model-select {
    margin-top: 1;
    max-height: 60%;
}

#model-info {
    height: 1;
}

#model-info .name, .tag, .size {
    margin-right: 1;
}

#edit-chat-container .button-container  {
    margin: 1;
}

#edit-chat-container .json-format {
    background: $panel;
    color: $secondary;
}

Label.keep-alive-label {
    margin-top: 1;
}

#tool-list {
    margin: 1;
    padding-right:3;
}

#prompt-history {
    height: 90%;
}

#chat-name-input {
    margin: 2;
}

#image-select-container .title {
    width: 100%;
    padding-top: 1;
    text-align: center;
}

#image-directory-tree {
    width: 30%;
}

#image-preview{
    width: 70%;
}

#image-preview #image {
    width: auto;
    height: auto;
}

#image-select-container Input {
    margin: 1;
    padding: 0;
}

#pull-model-container Horizontal {
    margin-top: 1;
    height: 3;
}

#pull-model-container Input {
    width: 60;
}

#prompt-form-container {
    height: 100%;
}

#prompt-form-container .title, .subtitle {
    margin-top: 1;
    margin-bottom: 1;
}

#prompt-result {
    height: auto;
    padding: 1;
    margin-top: 1;
    margin-bottom: 1;
}

TabbedContent {
    padding-top: 2;
    layer: below;
}

MarkdownFence {
    max-height: 50;
}

Button.icon {
    min-width: 5;
}

Input.keep-alive {
    width: 10;
}

#app-root {
    height: 50vh;
    max-height: 50vh;
}
