#!/usr/bin/env -S uv run --script
# /// script
# requires-python = ">=3.10"
# dependencies = [
#     "oterm=={{version}}",
# ]
# ///

from typing import Iterable

from oterm.app.css import tcss
from oterm.app.mcp_prompt import MCPPrompt
from oterm.app.widgets.chat import ChatContainer
from oterm.store.store import Store
from oterm.tools.mcp.setup import setup_mcp_servers, teardown_mcp_servers
from textual.app import App, ComposeResult, SystemCommand
from textual.binding import Binding
from textual.containers import Vertical
from textual.screen import Screen

db_id = {{db_id}}
name = "{{name}}"

class InlineApp(App):
    CSS = tcss
    TITLE = f"{name}"
    BINDINGS = [
        Binding("ctrl+q", "quit", "quit", id="quit"),
    ]

    async def load_mcp(self):
        from oterm.tools import avail_tool_defs
        from oterm.tools.mcp.prompts import avail_prompt_defs

        mcp_tool_calls, mcp_prompt_calls = await setup_mcp_servers()
        avail_tool_defs += mcp_tool_calls
        avail_prompt_defs += mcp_prompt_calls

    def get_system_commands(self, screen: Screen) -> Iterable[SystemCommand]:
        yield from super().get_system_commands(screen)
        yield SystemCommand(
            "Use MCP prompt",
            "Create and copy to clipboard an MCP prompt.",
            self.action_mcp_prompt,
        )

    async def action_mcp_prompt(self) -> None:
        screen = MCPPrompt()
        self.push_screen(screen)

    async def action_quit(self) -> None:
        self.log("Quitting...")
        await teardown_mcp_servers()
        return self.exit()

    async def on_mount(self) -> None:
        await self.load_mcp()
        store = await Store.get_store()
        chat_meta = await store.get_chat(db_id)
        if chat_meta is None:
            return

        id, name, model, system, format, parameters, keep_alive, tools, _ = chat_meta
        messages = await store.get_messages(id)
        chat = ChatContainer(
            db_id=id,
            chat_name=name,
            model=model,
            messages=messages,
            system=system,
            format=format,
            parameters=parameters,
            keep_alive=keep_alive,
            tools=tools,
        )
        await self.get_child_by_id("app-root").mount(chat)
        await chat.load_messages()

    def compose(self) -> ComposeResult:
        yield Vertical(id="app-root")


if __name__ == "__main__":
    InlineApp().run(inline=True)
